# macOS
.DS_Store
**/.DS_Store

# Xcode
xcuserdata/
*.xcuserstate
*.xccheckout
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# Vecteezy assets (license required, not for public repo)
vecteezy_weather-app-screen-interface_245385_497/
